/* 主控 */
.home-view {
    width: 100%;
    height: 100vh;
    background-color: #363436;
}

/* 主体 */
.body-view {
    position: absolute;
    width: calc(100vw - 460px);
    height: 100vh;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.body-view.active {
    margin-left: 84px;
    width: calc(1500px - 84px);
}

/* top */
.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #181718, #363436);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    height: 10%;
    width: 100%;
}

.top-left {
    display: flex;
    align-items: center;
    color: white;
}

.container-top .top-left i {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.container-top .top-left i:hover {
    color: #0effff;
}

.container-top .top-left div {
    font-weight: bold;
    font-size: 23px;
    margin-left: 20px;
}

.container-top button {
    margin-right: 42px;
}

/* 内容 */
.container-main {
    display: flex;
    background-color: #ecf0f3;
    padding-top: calc(var(--bs-gutter-x) * .5);
    height: 90%;
    width: 100%;
}

.container-content {
    /* 高度 */
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 搜索 */
.content-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* 高度 */
    height: 9%;
    width: 100%;
}

.search {
    height: 38px;
    width: 800px;
}

/* 选择 */
.content-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 高度 */
    height: 9%;
    width: 100%;
}

.select-check {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 40px;
    height: 100%;
}

.select-check input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.select-check label {
    margin-left: 20px;
    margin-top: 3px;
    font-size: 16px;
}

.content-select button {
    margin-right: 30px;
}

/* 标签 */
.content-label {
    display: flex;
    color: #606266;
    /* 高度 */
    height: 8%;
    width: 100%;
}

/* 信息 */
.content-main {
    /* 100%-9%-9%-8%-10% */
    height: 64%;
    width: 100%;
}

.main {
    display: flex;
    height: 20%;
    width: 100%;
}

.main-son {
    display: flex;
    height: 100%;
    width: 100%;
}

.main:hover {
    background-color: #ecf0f3;
}

.main-active {
    background-color: #ecf0f3;
}

.control-select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}

.control-select input {
    height: 18px;
    width: 18px;
    cursor: pointer;
    margin-top: 0%;
}

.control-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
}

.main-image {
    height: 70px;
    width: 70px;
}

.control-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
}


.control-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.control-email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.main-text {
    margin: 0%;
    font-size: 18px;
}

.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}